<!-- <p id="notice"><%= notice %></p> -->

<h1><%= @article.title %></h1>

<hr>

<div><%= raw(@article.content) %></div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', category_path(@category) %> |
<%= link_to '查看历史', article_histories_path(@article) %>
